
        <div class="large-8 columns">
          <div class="panel radius">
 
          <div class="row">
          <div class="large-6 small-6 columns">
 
            <h4>嫦娥三号</h4><hr/>
            <h5 class="subheader">
            	<%=image_tag('/assets/1.jpg',width:"400")%>
            </h5>
 
 		  <% if !user_signed_in? then %>
          <div class="show-for-small" align="center">
            <%= link_to t(:sign_in) ,new_user_session_path , :class => 'small radius button' %>
 
            <%= link_to t(:sign_up) , new_user_registration_path , :class => 'small radius button' %>
 
          </div>
          <% end %>
 
          </div>
          <div class="large-6 small-6 columns">
 
            <p>2月15日晚，正在月球上开展科学探测工作的嫦娥三号着陆器和巡视器进行互成像实验，“两器”顺利互拍，嫦娥三号任务取得圆满成功。未来几天，在进行科学探测的同时，“玉兔”号月球车还将绕陆器继续行驶，从不同角度与着陆器多次互拍。图为北京飞控中心大屏幕上显示嫦娥三号着陆器上的相机拍摄的“玉兔”号月球车。新华社发
          </p>
        </div>
 
        </div>
        </div>
        </div>
 
 		  <% if !user_signed_in? then %>
          <div class="large-4 columns hide-for-small">
 
          <h4>登录系统</h4><hr/>
 
            <%= link_to t(:sign_in) ,new_user_session_path , :class => 'large button expand' %>
 
            <%= link_to t(:sign_up) , new_user_registration_path , :class => 'large button expand' %>
 
        	</div>
          <% else %>
          	<% if current_user.has_role? :r_member, current_user then %>
				<% if @has_init_member_info then %>
					<div class="large-4 columns">
						<table>
							<tr>
								<th colspan="2">会员信息</th>
							</tr>
							<tr>
								<th>会员昵称:</th>
								<td><%= @member.name%></td>
							</tr>
							<tr>
								<th>会员性别:</th>
								<td><%= @member.sex%></td>
							</tr>
							<tr>
								<th>邮箱:</th>
								<td><%= @member.email%></td>
							</tr>
							<tr>
								<th>联系电话:</th>
								<td><%= @member.tel%></td>
							</tr>
						</table>
					</div>
				<% else %>
					<div class="large-4 columns">
					<div data-alert class="alert-box warning radius">
					  会员信息还没初始化
					  <a href="#" class="close">&times;</a>
					</div>
					<%= link_to '初始化信息' ,new_member_path , :class => 'button  radius round' %>
					</div>
				<% end %>
          	<% elsif current_user.has_role? :r_sale_host, current_user then %>
          		<div class="large-4 columns">
          		<table style="width: 100%">
				  <thead>
				    <tr>
				    	<th>订单号</th>
				    	<th>处理状态</th>
				    	<th>操作</th>
				    </tr>
				  </thead>
				  <tbody>
					<% @handle_list.each do |order| %>
				        <td><%= order.code %></td>
				        <td><%= type_decode(:fstate,order.fstate) %></td>
						<td><%= link_to t(:handle), order_view_path(:id => order) %></td>
					<% end %>
				  </tbody>
				</table>
				</div>
          	<% end%>
          <% end %>
