
        <div class="large-8 columns">
          <div class="panel radius">
 
          <div class="row">
          <div class="large-6 small-6 columns">
 
            <h4>嫦娥三号</h4><hr/>
            <h5 class="subheader">
            	<%=image_tag('/assets/1.jpg',width:"400")%>
            </h5>
 
 		  <% if !user_signed_in? then %>
          <div class="show-for-small" align="center">
            <%= link_to t(:sign_in) ,new_user_session_path , :class => 'small radius button' %>
 
            <%= link_to t(:sign_up) , new_user_registration_path , :class => 'small radius button' %>
 
          </div>
          <% end %>
 
          </div>
          <div class="large-6 small-6 columns">
 
            <p>2月15日晚，正在月球上开展科学探测工作的嫦娥三号着陆器和巡视器进行互成像实验，“两器”顺利互拍，嫦娥三号任务取得圆满成功。未来几天，在进行科学探测的同时，“玉兔”号月球车还将绕陆器继续行驶，从不同角度与着陆器多次互拍。图为北京飞控中心大屏幕上显示嫦娥三号着陆器上的相机拍摄的“玉兔”号月球车。新华社发
          </p>
        </div>
 
        </div>
        </div>
        </div>
 
 		  <% if !user_signed_in? then %>
          <div class="large-4 columns hide-for-small">
 
          <h4>登录系统</h4><hr/>
 
            <%= link_to t(:sign_in) ,new_user_session_path , :class => 'large button expand' %>
 
            <%= link_to t(:sign_up) , new_user_registration_path , :class => 'large button expand' %>
 
        </div>
          <% end %>
