<div class="large-8 columns">
<p>
  <strong><%= Order.human_attribute_name :fstate %>:</strong>
  <span style="color: red"><%= type_decode(:fstate,@order.fstate) %></span>
</p>
<p>
  <strong><%= Order.human_attribute_name :code %>:</strong>
  <%= @order.code %>
</p>

<p>
  <strong><%= Order.human_attribute_name :mb_id %>:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong><%= Order.human_attribute_name :pd_id %>:</strong>
  <%= @order.product.name %>
</p>

<p>
  <strong><%= Order.human_attribute_name :order_status%>:</strong>
  <%= type_decode(:order_status,@order.order_status ) %>
</p>

<p>
  <strong><%= Order.human_attribute_name :price %>:</strong>
  <%= @order.price %>
</p>

<p>
  <strong><%= Order.human_attribute_name :pay_type %>:</strong>
  <%= type_decode(:pay_type,@order.pay_type ) %>
</p>

<p>
  <strong><%= Order.human_attribute_name :pay_status %> :</strong>
  <%= type_decode(:pay_status,@order.pay_status ) %>
</p>

<p>
  <strong><%= Order.human_attribute_name :service_status %>:</strong>
  <%= type_decode(:service_status,@order.service_status ) %>
</p>

<p>
  <strong><%= Order.human_attribute_name :description %>:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>审核历史:</strong>
  <br />
  <%= @order.comment.html_safe %>
</p>

<div class="field">
    <strong><%= Order.human_attribute_name :comment %>:</strong>
    <textarea id="comment"></textarea>
</div>



<%= link_to t(:edit), edit_order_path(@order) %> |
<%= link_to t(:back), orders_path %>|

<%= if (current_user.has_role? :r_sale,current_user)
		link_to '提交审核', order_handle_path(:id => @order.id,:event => 'submit')
	end
%>|
<% if (current_user.has_role? :r_sale_host ,current_user) %> 
<%= link_to '同意', order_handle_path(:id => @order.id,:event => 'agree'),:onclick => 'this.href = this.href+"&comment="+document.getElementById("comment").value' %>|
<%= link_to '不同意', order_handle_path(:id => @order.id,:event => 'disagree'),:onclick => 'this.href = this.href+"&comment="+document.getElementById("comment").value' %>
<% end %>
</div>
<div class="large-4 columns">
<%=image_tag('/assets/Order_fstate.jpg',width:"200")%>
</div>

