<!DOCTYPE html>
<html lang="zh_CN">
  <head>
  	<title><%=t(:system_title)%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	 <div class="row">
  <div class="large-14 columns">
 
    <!-- Navigation -->
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
            	<%= link_to t(:home), root_path %>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <!-- Right Nav Section -->
				<ul class="right">

					<% if user_signed_in? then %>
					<li>
						<%= link_to t(:edit_user_registration),edit_user_registration_path  %>
					</li>
					<li>
						<a href="#">当前用户:<%=current_user.email%></a>
					</li>
					<li  >
						<%= link_to t(:sign_out),destroy_user_session_path , method: :delete%>
					</li>
					<% else %>
					<li><%= link_to t(:sign_in),new_user_session_path  %></li>
					<li><%= link_to t(:sign_up),new_user_registration_path  %></li>
					<% end %>
				</ul>
		<%if current_user != nil %>
		<% if !current_user.role_names.include? 'r_member' %>
          <ul class="left">
            <li><%= link_to t(:user_mgr), users_path %></li>
            <li><%= link_to t(:member_mgr), members_path %></li>
            <li><%= link_to t(:product_mgr), products_path %></li>
            <li><%= link_to t(:order_mgr), members_path %></li>
            <li><a href="#">...</a></li>
          </ul>
        <% end %>
        <% end %>
        </section>
      </nav>
 
    <!-- End Navigation -->
  
    </div>
  </div>
  <br />
  
  <% if notice != nil || alert != nil %>
  <div class="row">
  <div data-alert class="alert-box warning round">
  	<%= notice %><%= alert %>
  	<a href="#" class="close">&times;</a>
  </div>
  </div>
  <% end %>
 
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
    <!-- Content -->
        <div class="large-12 columns">
 		<div class=" clearfix"  >
			<%= yield %>
			<%= javascript_include_tag "application" %>
		</div>
 </div>
    <!-- End Content -->
 
      </div>
    </div>
  </div>
 
    <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns" >
          <p>© Copyright no one at all.</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>