<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @member.sex %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @member.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Saler:</strong>
  <%= @member.saler_id %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %>
